footer {
  font-family: 'Inter', 'Roboto', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  color: #333;
}

footer h6 {
  font-weight: 600;
}

footer ul li {
  font-weight: 400;
   color: #6c757d;
   font-size: small;
   margin: 3px;
}
li:hover{
  color: orange;
  text-decoration: underline;
  
}

footer .footer-note {
  font-size: 13px;
  color: #666;
}

footer .download-title {
  font-weight: 600;
  font-size: 15px;
}
